<!DOCTYPE html>
<html>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgL4EhbainFOaUs3OJDUasN_9X3Kv7CN0&libraries=places&callback=initAutocomplete" async defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enter your Trip</title>
</head>
<body> 
<script type="text/javascript" src="{{ url_for('static', filename='log-trip.js') }}"></script>

{% include 'navbar.html' %}
 
{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-5 well">
<form id="userInputs" class="form-horizontal" method="post" action="{{ url_for('trip_data') }}">
<legend>Enter your trip information</legend>
    
<fieldset>
<div id="box">
    <div id="startend" class="form-group">
	<label for="start" class="control-label">Where did you begin your ride?</label>
    	<div id="start" class="col-lg-10">
      	    <input id="start_input" class="form-control" type="text" placeholder="Start Location" name = 'startpoint' required>
        </div>
    </div>
    <div class="form-group">
	<label for="end" class="control-label">Where was the destination of your ride?</label>
    	<div id="end" class="col-lg-10">
            <input id="end_input" class="form-control" type="text" placeholder="End Location" name='endpoint' required>
        </div>
    </div>
    <div class="form-group">
	<div class="col-lg-10 col-lg-offset-2" id="button">
        <button id="go" class="btn btn-primary">Get My Route</button>
	</div>
    </div>
</div>
</fieldset>
</form>
</div>

<div class="col-lg-6 col-lg-offset-1">
<h3>Past Trips</h3>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Trip Date</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    {% if trips|length == 0 %}
	<tr><td></td><td>You have not entered any trips yet.</td></tr>
    {% endif %}
    {% for row in trips %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ row.date.strftime('%m/%d/%Y') }} {{ row.date.strftime(' %I:%M%p') }}</td>
      <td>{{ '%.2f' % row.distance }} miles</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
</div>
</div>
</div>
{% endblock %}
    
</body>
</html>
