<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Impact Cycling</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="#">Meet the Team</a></li>
        <li><a id = "myprofile" onclick="onMyProfile()" href="#">My Profile</a></li>
        <li><a id = "newtrip" onclick="onNewTrip()" href="#">Log Another Trip</a></li>
        <li><a id = "playgame" onclick="onPlayGame()" href="#">Game: Bike Across Europe</a></li>
        <li><a id = "settings" onclick="onSettings()" href="#">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">My Stats</a></li>
            <li><a href="#">Account Preferences</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
      
      <script>
      function onNewTrip(){
        window.location.href="/logtrip/";}      
          
        function onMyProfile(){
            window.location.href="/profile/";}
          
        function onPlayGame(){
            window.location.href="/game/";}
          
        function onSettings(){
            window.location.href="/settings/";}
      </script>
  </div>
</nav>
