<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <input type="hidden" id="myVar" name="variable" value = '{{ points|tojson }}'>
	<title>Results</title>
</head>
    {% include 'navbar.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='trip-data.js') }}"></script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgL4EhbainFOaUs3OJDUasN_9X3Kv7CN0&callback=init">
    </script>
    <body onload = "initMap">
            <div id="pointsinfo"></div>
        
  </body>
</html>
